.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}
.fighter-preview___img {
  height: 15em;
}
.fighter-preview___root p {
  color: whitesmoke;
  font-weight: bold;
  font-size: 1.5em;
}